<h1>Nearest bus stops</h1>

<div id="map" style="height: 600px"></div>

<script language="javascript">
  function addMarker(map, L, id, name ,lat, lon) {
    var marker = L.marker([lat, lon]);
    var url = `/arrivals/${id}?name=${name}`;
    marker.on("click", () => { window.location = url; });
    marker.bindTooltip(name).openTooltip();
    marker.addTo(map);
  }

  var map = L.map('map').setView([<%= lat %>, <%= lon %>], 17);

  L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    subdomains: ['a','b','c']
  }).addTo( map );

  map.on("moveend", (e) => {
    point = map.getCenter();
    document.getElementById("lat").value = point.lat;
    document.getElementById("lon").value = point.lng;
  });

  <% stops.each do |stop| %>
    addMarker(map, L, "<%= stop.id %>", "<%= stop.name %>", <%= stop.lat %>, <%= stop.lon %>);
  <% end %>
</script>

<ol>
  <% stops.each do |stop| %>
    <li>
      <a href="/arrivals/<%= stop.id %>?name=<%= stop.name %>">
        <%= stop.name %>
      </a>
    </li>
  <% end %>
</ol>

<p><a href="/">Back</a></p>
